@use "../abstracts" as *;


.home-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: var(--clr-background) ;

    @include mq(lg){
        grid-template-columns: repeat(2, 1fr);
    }
}

