@use "../abstracts" as *;

.home-grid {
  display: grid;
  gap: 1rem;
  background-color: var(--clr-background);
}


.home-grid.grid-home {
  grid-template-columns: 1fr;

  @include mq(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}


.home-grid.grid-products {
  grid-template-columns: repeat(2, 1fr);

  @include mq(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
